#stripe {
    background: url("/assets/stripe2-bkg.png?1297781630") repeat-x scroll -200% 0 #089CC8;
    height: 4px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
#header {
    /*Old
    background: url("/assets/header-back.png") repeat-x scroll 0 0 #B1434D;
    
    background-image: -webkit-gradient( linear, left bottom, left 5, color-stop(0.2, #0DB9E0), color-stop(0.75, #0A96AB) );
    background-image: -moz-linear-gradient( center bottom, #0DB9E0 20%, #0A96AB 75% );
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    */
    background-image: -webkit-gradient( linear, left bottom, left 5, color-stop(0.2, #005575), color-stop(0.75, #0A96AB) );
    background-image: -moz-linear-gradient( center bottom, #005575 20%, #0A96AB 75% );
    
    /*Old
    box-shadow: 0 2px 3px #3D3D3D;
    */
    height: 84px;
    margin-top: 0;
}

#header {
}
#container_wrap {
    background: url("/assets/big-fade.png?1295683141") repeat-x scroll -70% 0 transparent;
    /*padding: 5px 0 30px;*/
}
.center-container {
    margin: 0 auto;
    text-align: left;
    width: 1000px;
}

.grid_5 {
    width: 605px;
}
.column {
    display: inline;
    float: left;
    margin: 0 10px;
}

.footer {
    background: url("/assets/footer_pattern.png") repeat scroll 0 0 #FFFEFC;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 0 10px #E4E2D8 inset;
    padding-top: 20px;
    text-shadow: 0 1px 0 #FFFFFF;

}
.desch3 {
    font-family: 'Oxygen','Droid Sans','Puritan',sans-serif; 
    font-size: 12px;
    padding: 5px;
    margin: 3px;
    vertical-align:text-top;
    width: 800px;
}
.desch3 a, .desch3 i
{
   color:#39B2E5;
   font-weight: 600;
   font-size: 12px;
}

.top_p_p
{
    color: #888888;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: normal;
/*    border-bottom: 3px dotted #C9C4BA;*/

}
.very_small
{
    color: #838383;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 75%;
    padding: 2px;
}

a img {
  border: 0;
}
#img_header
{
}
#editorial_review, .goodreads, .stores

{ 
 /* font-family: 'Droid Sans','Puritan',sans-serif; 
  font-size:normal;
  border: 2px solid #EAEAEA;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin-bottom: 5px;
  background: none repeat scroll 0 0 #EAEAEA;
   border: 1px solid #DEDEDE;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px #E4E2D8 inset;
    height: 145px;
    padding-left: 12px;*/

} /* hack retained to preserve specificity */
#featured_container {
    background: url("/assets/feature_graphic.png") no-repeat scroll 27px 50% transparent;
    height: 346px;
    margin: 0 auto;
    overflow: visible;
    padding-left: 5px;
    width: 950px;
}

.hrd {
    border-bottom: 3px dotted #C9C4BA;
    font-size: 2px;
    height: 40px;
    line-height: 2px;
    margin-bottom: 10px;
    margin-top: 50px;
    overflow: hidden;
    clear: both;
    padding: 20px 10px 10px;

}
#wait-text
{
    font-family: 'Lato','Droid Sans','Puritan',sans-serif; 
    color: #C24E42;
    font-size: 12px;
}
.textwrapper{
    font-family: 'Oxygen', sans-serif;
    /* old 
    color: #C24E42;*/
    color: #333333;
    
    font-weight: 600;
    font-style: italic;
    /*old
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.9);
    */
    text-shadow: 0 2px 0 #FFFFFF;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    clear: left;
    float: left;
    height: 50px;
    padding: 10px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 800px;
}
.fancy{
	position:relative;
	display:inline-block;
	font-size:0;
	line-height:0;
}
.searchTypeLink
{
  
}

.top_searches{
    font-family:'Oxygen','Puritan',sans-serif; 
    color: #333333;
    font-size: 110%;
    text-shadow: 0 2px 0 #FFFFFF;
    font-size: 13px;
    clear: left;
    float: left;
    height: 200px;
    padding: 10px;
    padding-top: 20px;
    position: relative;
    text-align: left;
/*    width: 900px; */
    width: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  border: 1px solid #c9c4ba;
}
.top_searches a, a:active, a:visited
{
	/*color: #3982E5;
	text-decoration: none;*/

}

.link-highlight {
    background-color: #F5F0E9;
    border-radius: 3px 3px 3px 3px;
}

.top_searches a:hover
{
color: #C24E42;
text-decoration: underline;
font-weight: bold;
}
#editorial_review h3
{
  color: #004B91;
}
#img_div
{
  float: left;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
#loader
{
  margin: 5px;
}
#book_att_container
{
  width: auto;
  padding: 3px;
  margin-right: 10px;
  background: -moz-linear-gradient(center top , #C3D8E2, #FFFFFF) repeat scroll 0 0 transparent;
  border-radius: 10px 10px 0 0;
  border: 3px solid #E8F1F8;
  margin-bottom: 10px;

}
table.book_attributes
{
}
table.book_attributes td {
  padding: 5px;
  padding: 5px;
  vertical-align: top;
  overflow: auto;
  font-size: 16px;
}
.about_author
{
  font-size: 15px;
  font-weight: bold;
}
table.price_list
{
/*  border: 1px solid #E8E8E8;
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
  background-color: #EEEEEE;
  width: 905px; */

    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px #E4E2D8 inset;
    height: 145px;
    padding-left: 12px;


}
table.price_list td
{
  padding: 15px;
  /*border-top: 1px solid #EEEEEE;*/
  /*border-bottom: 1px solid #FFFFFF;*/
  font-family: 'Oxygen','Lato','Droid Sans','Puritan',sans-serif; 
  border-bottom: 1px dotted #CCCCCC;
  vertical-align: top;
  background-color: white;
  font-weight: 400;
}
.discount
{
  font-size: 10px;
  color: red;
}
.shipping
{
  font-size: 10px;
  color: green;
}
.source{
  width:130px;
}
.td_name
{
  width: 500px;
}
.td_price
{
  width: 150px;
  text-align: center;
}

.gr_review_container
{
  padding: 3px;
  border-bottom: 1px solid #FFFFFF;
}
.gr_reviews_header
{
    font-weight: bold;
}
.gr_reviews_showing
{
    font-size: small;
    font-weight: normal;
}
.goodreads
{
  padding-top: 5px;
}

.item_review_title_left {
    clear: left;
    float: left;
    width: 5%;
}
.tag_dummy
{
  display:none;
}

.tags{
	margin:0;
	padding:0;
/*	position:absolute; */
	right:24px;
	bottom:-12px;
	list-style:none;
	}
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}        
.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}
.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
.tags a:hover{background:#555;}	
.tags a:hover:before{border-color:transparent #555 transparent transparent;}        
.searchwrapper
{
    clear: left;
    float: left;
    text-align:center;
    position: relative;
    width: 700px;
    padding: 10px;
    height: 100px;
    border-radius: 3px 3px 3px 3px;
    background-color: #C7C7C1;
}
.searchwrapper_inner
{
    border-style: solid;
    border-width: 1px;
    border-color: #B5B5AF;;
}
.searchwrapper-inner-border
{
    padding-bottom: 0.22em;
    padding-right: 0.22em;
    background-repeat: repeat-x;
    height: 2.1em;
    padding: 0.2em;
    padding-bottom: 10px;
    position: relative;  
    text-align: center;
}

.searchwrapper_small
{
    clear: left;
    float: right;
    text-align:center;
    position: relative;
    width: 450px;
    padding: 10px;
    height: 70px;
    border-radius: 3px 3px 3px 3px;
    
}
.searchwrapper_inner_small
{
    border-style: solid;
    border-width: 1px;
    border-color: #B5B5AF;;
}
.searchwrapper-inner-border_small
{
    padding-bottom: 0.22em;
    padding-right: 0.22em;
    background-repeat: repeat-x;
    height: 1.1em;
    padding: 0.2em;
    padding-bottom: 10px;
    position: relative;  
    text-align: center;
}
.inputquery_small
{
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 20px #DDDDDD inset;
    font-family: "Droid Sans",Arial,sans-serif;
    font-size: 100%;
    height: 2em;
    line-height: 2.2em;
    outline: medium none;
    padding: 0 0 0 10px;
    margin: 20px;
    margin-bottom: 2px;
    width: 400px;
}

.searchsubmit
{
    background-position: left -1672px;
    background-repeat: repeat-x;
    border: 0 none;
    cursor: pointer;
    font-weight: bold;
    height: 1.8em;
    overflow: visible;
background-image: url("http://l1.yimg.com/a/i/ww/met/th/slate/gsprite_pg_slate_20100521.png");
}
.inputquery
{
    border:1px solid #DFDFDF;
    margin:20px 5px 10px 0;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;    float: left;
    height:39px;
    padding: 0.3em 0.25em 0.2em 0.2em;
    margin-left: auto;
    margin-right: 5px;
    display:block;
    width: 35em;
    font-family: 'Droid Sans','Puritan',sans-serif; 
    font-size:20px;
}
.buttonwrapper
{
    background-color: #FCC530;
    border-style: solid;
    border: 1px solid #BD9E43;
    float: left;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin-left: 15px;
    display:none;
}
.price
{
    size: 100px;
}



.big {
  font-size: large;
}
#container
{
  margin-top: 10px;
}
#container blockquote {
  margin: 20px;
  font-style: italic;
}

/* Stolen from Blueprint */
/* https://github.com/joshuaclayton/blueprint-css/raw/master/blueprint/screen.css */
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {font-weight:normal;color:#111;}
#container h1 {font-size:3em;line-height:1;margin-bottom:0.5em;margin-top:0.5em;}
#container h2 {font-size:2em;margin-bottom:0.75em;margin-top:0.5em;}
#container h3 {font-size:1.5em;line-height:1;margin-bottom:1em;margin-top:0.5em;}
#container h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;margin-top:0.5em;}
#container h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;margin-top:0.5em;}
#container h6 {font-size:1em;font-weight:bold;margin-top:0.5em;}
#container dl dt {font-weight:bold;}
#container dd {margin-left:1.5em;}



/*#EAEAEA; #5BA0D0*/
.drop-shadow {
   position:relative;
   width:90%;
   background: none repeat scroll 0 0 #EAEAEA;
}

.drop-shadow:before,
.drop-shadow:after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   max-width:300px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
}

.drop-shadow:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }


 #thing {
   padding: 10px;
   border-radius: 5px;

  /* HOVER OFF */
   -webkit-transition: padding 2s;
}

#thing:hover {
   padding: 20px;
   border-radius: 15px;

  /* HOVER ON */
   -webkit-transition: border-radius 2s;
}
#searching_from
{
  display:block;
  size: 80px;
}
#search_btn
{
  float: right; 
}
#india-stores
{
  text-decoration: underline;
}
/*--------------------------------------------------------------------------------------
Notifications
#e4dfcb
.dropdown dt a:hover, .dropdown dt a:focus { color:#5d4617; border: 1px solid #5d4617;}
---------------------------------------------------------------------------------------*/
.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}

.dropdown dt a { display:block;  width:20px;}
.dropdown dt a span {cursor:pointer; display:block; text-align: left;}
.dropdown dd ul { background:#C7C7C1 none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }

.search_wrap {
    position: absolute;
    z-index: 6;
    top: 2px;
    font-family: 'Droid Sans','Puritan',sans-serif; 
    padding: 6px;
}
.search_wrap .tab {
    color: #39B2E5;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    width: 350px;

}
.oFlowH {
    overflow: hidden;
}
.search_wrap .tab a.active {
  /*background: url('/assets/top.png')no-repeat scroll center 15px #3982E5;*/

  background-image: -webkit-gradient( linear, left bottom, left 5, color-stop(0.2, #0DB9E0), color-stop(0.75, #0A96AB) );
  background-image: -moz-linear-gradient( center bottom, #0DB9E0 20%, #0A96AB 75% );

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: default;
  padding: 2px;
  text-decoration: none;
}
.search_wrap .tab a {
    color: #333333;
    text-decoration: none;
    padding: 2px;
}
.search_wrap .tab p {
    color: #C24E42;
    text-decoration: none;
    padding: 2px;
}
.comingsoon
{
   opacity: 0.5;
}

.slide p
{
    color: #C24E42;
    font-weight: normal;
}
.slide b
{
    color: #C24E42;
    font-weight: bold;
}
.slide i
{
    color: #888888;
}
/*--Feedback slideshow--*/
#slideshow {
    width: 900px;
    height: 120px;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    
}


/*
#slideshow-reel {
    width: 5400px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
}

#slideshow-reel .slide {
    width: 900px;
    height: 120px;
    float: left;
    background-color: transparent;
}

#slideshow-reel .slide:nth-child(2n+1) {
    background-color: transparent;
}

#slideshow-reel h1 {
    margin: 25px 60px;
    color: #FFF;
    font-size: 3em;
    text-shadow: 0 -1px 1px #333;
}
#slideshow p
{
    font-family: 'Podkova','Droid Sans','Puritan',sans-serif;
    font-size: 14px;
    padding: 20px 10px 10px;
    position: relative;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.9);
    margin: 25px 60px;
}
*/
/* arrow navigation */

.slideshow-arrow {
    display: block;
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 21px;
    border-color: transparent;
    outline: none;
}

.slideshow-arrow:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#slideshow-left {
    left: 0;
    border-right-color: gray;
    display: none;
}

#slideshow-right {
    right: 0;
    border-left-color: gray;
    display: none;
}

/* bottom navigation */

#slideshow-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 900px;
}

#slideshow-nav .nav-item {
    float: left;
    width: 150px;
    padding: 11px 0;
    outline: none;
}

#slideshow-nav .nav-item-line {
    float: left;
    width: 68px;
    height: 1px;
    line-height: 1px;
    margin: 3px 0;
    background-color: #bbb;
}

#slideshow-nav .nav-item-line-hidden {
    background-color: transparent;
}

#slideshow-nav .nav-item-dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*background-color: #ed1d27; */
    background-color: gray;
}

/* active nav dot */

#active-nav-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin-left: 60px;
    background-color: #8e8d8b;
    background-color: rgba(28, 27, 23, .5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#active-nav-item .active-nav-item-inner {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #000;
}
/*----------------------------------------------Footer------------------------------------------------------*/
.post-meta {
    float: left;
    font-size: 11px;
    line-height: 18px;
    margin: 4px 0 0 98px;
    width: 140px;
}
.post-meta ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer-main .post-meta ul li.post-twitter a {
    background-image: url("http://static.tumblr.com/reg4e01/vwjl6zqxt/icon-twitter-18.png");
    background-position: 9px 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
#footer-main .post-meta ul li a {
    background-color: rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #7B7D81;
    text-shadow: 0 1px 0 #202228;
}
.post-meta ul li a {
    -moz-transition: background-color 400ms ease-out 0s;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: rgba(102, 102, 102, 0.85);
    display: block;
    margin: 0 0 10px;
    padding: 3px 10px 4px 34px;
    text-shadow: 0 1px 0 #F8F8F8;
}
#footer-main .post-meta ul li.post-facebook a {
    background-image: url("http://static.tumblr.com/reg4e01/eUIl6zr4c/icon-facebook-18.png");
    background-position: 9px 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
#footer-main .post-meta ul li a {
    background-color: rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #7B7D81;
    text-shadow: 0 1px 0 #202228;
}
.post-meta ul li a {
    -moz-transition: background-color 400ms ease-out 0s;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: rgba(102, 102, 102, 0.85);
    display: block;
    margin: 0 0 10px;
    padding: 3px 10px 4px 34px;
    text-shadow: 0 1px 0 #F8F8F8;
}
#page-footer {
    background: url("http://static.tumblr.com/reg4e01/pNyl6zfk5/page-footer-bg.jpg") repeat-x scroll 0 0 transparent;
    padding-top: 96px;
}
#LikePluginPagelet
{
	background-color: transparent !important	;
}

.center-container {
    margin: 0 auto;
    text-align: left;
    width: 1000px;
    font-family: 'Lato','Helvetica',Georgia,serif;
    font-size: 14px;
}
.large-about {
    clear: both;
    color: #333333;
    font-family: 'Lato','Helvetica',Georgia,serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1em;
    margin: auto 50px;
    text-align: center;
    margin-top: 50px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.about-smaller
{
   font-size: 26px;
}
#div_top_books
{
    display:block;
}
#div_top_books ul,#div_top_cameras ul,#div_top_mobiles ul,#div_top_movies ul
{
margin-left: 0;
}
.div_top_books,.div_top_cameras,.div_top_mobiles,.div_top_movies
{

    list-style-type: none;
    overflow: hidden;
}
.purchase a, .purchase a:hover
{
text-decoration: none;
}
/*Overlay settings */
.picture {
  /*border: 10px solid #ccc; */
  width: 600px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  display: none;
  height: 200px;
}

.picture strong {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  display: block;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 20% 10px 10px 10px;
  width: 100%;
  height: 100%;
  left: 0;
  font-family: Georgia, serif;
  color: #fff;
  font-size: 35px;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

.picture a {
  text-decoration: none;
}

.picture strong span {
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.picture strong span.flick {
  color: rgb(22, 120, 241);
}

.picture strong span.r {
  color: rgb(255, 56, 159);
}
.footer_container{    
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

.disclaimer
{
    color: #664C40;
    font-family: "Droid Sans",Arial,sans-serif;
    font-size:  10.8px;
    line-height: 1.7em;
    text-shadow: 0 1px 0 #FFFFFF;
    margin: 0 auto;
    text-align: left;
    width: 700px;
    padding: 10px;
    /*border-right: 2px dotted #C9C4BA;*/
}
.contact{
    padding-top:10px;  
    font-size: 15.8px;
}
.contact a {
    color: #606F48;
    text-decoration: none;
}

/*#featured {
    background: url("/assets/feature_bg.png") repeat scroll 0 0 #2BA9D3;
    margin: 0 auto;
    overflow: visible;
    padding-left: 5px;
    height: 200px;
}*/


#foo { 
  height: 250px;
  width: 940px; 
  background: transparent;
  border: 1px solid #ECE5C7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
  /*background: transparent url('orbit/loading.gif') no-repeat center center; overflow: hidden; */
}
     

.featured_content
{
    font-family: "Droid Sans",Arial,sans-serif;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
}
.featured_h1
{
  color: #888888;
  font-family: 'Vollkorn','Amaranth',"Droid Sans",Arial,sans-serif;
  font-size: 30px;
}
.image_carousel {
	padding: 15px 0 15px 20px;

}
.image_carousel div.slide {
	width: 870px;
	height: 200px;
	position: relative;
}
.image_carousel div.slide div {
	background-color: rgba(0, 0, 0, 0.6);
	width: 870px;
	display: none;
	position: absolute;
	bottom: 0;
}
.image_carousel div.slide h4 {
	font-size: 35px;
	padding: 30px 0 0 100px;
}
.image_carousel div.slide p {
	font-size: 16px;
	padding: 0 0 30px 100px;
}
.image_carousel div.slide h4, .image_carousel div.slide p {
	color: white;
	margin: 0;
}
.transparent {
    /*background: url("../assets/transparent_bg.png") repeat-y scroll 0 0 transparent;*/
}
.transparent  .transparent .list_carousel,  .transparent .wheel_of_fortune, .fold_horizontal {
    background: url("../assets/fold_horizontal.png") repeat-x scroll left bottom transparent;
}
.transparent, .transparent_top, .transparent_bottom, .transparent_schoolboard {
    margin: 0 -20px;
    padding: 0 20px;
}
.transparent_top, .transparent_bottom {
   /* background: url("../assets/transparent_top_bottom.png") no-repeat scroll 0 0 transparent;*/
}
.transparent_top {
    height: 30px;
}
.transparent_bottom {
    background-position: 0 -90px;
    height: 10px;
}
.transparent_top.p1 {
    background-position: 0 -30px;
}
.transparent_top.p2 {
    background-position: 0 -60px;
}
.best_books
{
    display: table-cell;
    height: 100px;
    vertical-align: bottom;
    width: 100px;
}
a.prev, a.next {
	background: url(../assets/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -30px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
	margin-bottom: 5px;
}
.pagination a {
	background: url(../assets/miscellaneous_sprite.png) 0 -100px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 2px;;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -100px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.image_carousel {
	padding: 15px 0 15px 15px;
	position: relative;
  width: 90%;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 3px;
	margin: 7px;
	display: block;
	float: left;
}
div.slide h3 {
	padding-bottom: 2px;
  border-bottom: 2px dotted #C9C4BA;
  color: #888888 !important;
  font-family: 'Oxygen',sans-serif;

}
div.divider-bar {
    background: url("../assets/bg-btn-signup.png") repeat-x scroll 0 -15px #FFAA22;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 4px;
    z-index: 4;
}
footer {
    clear: both;
    margin: auto !important;
    overflow: hidden;
    width: 960px;
}
footer {
    color: #666666;
}
.tweet-sharey-thing
{
  width: 30px;
  margin-left: auto;
  margin-right: 10px;
  background: url("../assets/twitter_boxed_48.png") no-repeat;
}
.top_p
{

    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600 ;
    border-bottom: 2px dotted #C9C4BA;
    color: #888888 !important;
    font-family: 'Oxygen', sans-serif;
    font-style: italic;

}
.hot{
     font-family: "Droid Sans";
     font-style: normal;
     font-weight: normal;
     font-size: 12px;   

}
.buybutton {
 display: inline-block;
    background: #f5513c;
    -webkit-box-shadow: 0px 1px 0px 0px #ff8272 inset, 0px 0px 0px 4px #e6e6e6;
    -moz-box-shadow: 0px 1px 0px 0px #ff8272 inset, 0px 0px 0px 4px #e6e6e6;
    box-shadow: 0px 1px 0px 0px #ff8272 inset, 0px 0px 0px 4px #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0s 0;
    -moz-transition: all 0s 0;
    -o-transition: all 0s 0;
    transition: all 0s 0;
    text-shadow: 0px 1px 1px #9c3528;
    padding: 6px 8px;
    border-color: #ec513c;
    border-width: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
}
.buybutton:hover {
background: #ff6551;
    -webkit-box-shadow: 0px 0px 0px 4px #ffbfab;
    -moz-box-shadow: 0px 0px 0px 4px #ffbfab;
    box-shadow: 0px 0px 0px 4px #ffbfab;
    border-color: #ed5e4b;
}

/*.buybutton {
  -moz-box-shadow:inset 0px 1px 8px 1px #f29c93;
  -webkit-box-shadow:inset 0px 1px 8px 1px #f29c93;
  box-shadow:inset 0px 1px 8px 1px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family: 'Oxygen','Droid Sans','Puritan',sans-serif; 
  font-size:12px;
  font-weight:bold;
  padding:4px 10px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
}.buybutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}.buybutton:active {
  position:relative;
  top:1px;
}*/