
<% content_for :title do %>
    - price search engine.
<% end %>

<% content_for :header do %>
  <img src='images/cheapr_S.png'/>
<% end %>

<div class="searchwrapper drop-shadow curved curved-hz-1">
  <div class="searchwrapper-inner">
    <div class="searchwrapper-inner-border">
          <%= form_tag(view_path, :method => "get") do %>
              <%= text_field_tag(:q,nil,:class=> "inputquery") %>
              <span class="buttonwrapper">
                <%= submit_tag("Search", :class=>"searchsubmit") %>
              </span>  
          <% end %>
    </div>  
<a href="#" class="primary button pill button">Books</a>
<a href="#" class="pill button">Movies</a>
<a href="#" class="pill button">Mobiles</a>
  </div>
</div>
